{
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "bracketSpacing": false,
  "arrowParens": "always",
  "printWidth": 150,
  "bracketSameLine": true,
  "singleAttributePerLine": true
}
